*
{
    margin: 0;

}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#head{
    background-color: rgb(119, 28, 255);
    position:fixed;
    height: 70px;
    width: 100%;
    z-index: 10;
   
}

.bar
{
    
   position: fixed;
    list-style: none;
    display: flex;
    font-size: 30px;
    font-weight: 10;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 30px; 
    top: 1rem;
    left: 25rem;
   color: #FFFFFF;
   
}
.logo{
position: absolute;
width: 215px;
height: 67px;

left: 40px;
bottom: 10px;

font-family:cursive;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 79px;

color: #FFFFFF;
}
#nav li:hover {
    transform: scale(1.1); 
    color: #000000e7; 
     transition: color 0.3s ease, transform 0.3s ease; 
}


#nav li:active {
    transform: scale(0.8); 
    color: #333; 
     transition: color 0.3s ease, transform 0.3s ease; 
}
li a
{
   
    text-decoration:none; 
    color: unset;

}
#more+li
{
   margin-left: 90px;
}
#search
{
     position: relative;
      display: flex; 
    top: 8px;
    left: 10px;
    
    
}
#search input[type="text"]
{
    border: 1px solid #ffffff; 
    border-radius: 20px;
    height: 25px;
    outline: none; 
    padding-left: 10px;
}
#serbtn
{
  position: relative;
   padding: 0;
   border: none;
   background-color:transparent;
  right: 25px;
  
}
#ser+li
{
   margin-left: 10px;
}

#menu
{
position: relative;
    width: 40px;
    height: 20px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     cursor: pointer;
     top: 10px;
     
}
.mbar
{
    width: 100%;
    height:5px;
    border-radius: 5px;
 background-color: #ffffff;
}
#part1
{
    
   position: absolute;
   
   display: flex;
     top: 150px;
    left: 200px;
   gap: 100px;
   
   
   
    
}
#pic
{
     
    height: 340px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
#write
{
    height: 300px;
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    resize: none;
    box-shadow: 5px 10px 50px 5px rgb(185, 187, 185) inset;
    border: 1px solid rgb(255, 255, 255);
     outline: none;
     font-size: 25px;
     font-weight: 500;
     font-family:'Times New Roman', Times, serif;
   
}

#outcont
{
    position: relative;
    height: 250px; 
    width: 65px;    
    margin-left: 50px;
    top:200px;
    left:1350px;
}


#contact
{
  position: absolute;
   position: fixed;
    display: flex;
    flex-direction: column;
    height: 200px; 
    width: 60px;    
    gap: 10px;
    cursor: pointer;
    background: #FFFFFF; 
    
    
}

#contact:hover
{
    cursor: pointer;
}
#contact>img
{
   
   border: 2px solid black;
   border-radius: 5px;
   padding: 2px;
}
.mid
{
    position: relative;
     
      top:320px;
     width: 100%;
      
     justify-content: center;
   


}
#temp1
{
    position: absolute;
    left: 200px;
    height: 80px;
    width: 180px;
   background-color: rgb(46, 161, 255);
    border-radius:5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    
    
     
}
#qs1
{
    
    display: block;
    padding-left: 10%;
    padding-top: 5%;
      line-height: 1.5;
      color: #ffffff;
    font-size: 20px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#temp2
{
    position: absolute;
    left: 480px;
    
    height: 80px;
    width: 180px;
   background-color: rgb(133, 34, 255);
    border-radius:5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);

}
#qs2
{
    display: block;
    padding-left: 10%;
    padding-top: 5%;
      line-height: 1.5;
      color: #ffffff;
    font-size: 20px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#temp3
{
      position: absolute;
    left: 780px;
    height: 80px;
    width: 180px;
   background-color: rgb(195, 84, 255);
     border-radius:5px;
     box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
#qs3
{
    display: block;
    padding-left: 10%;
    padding-top: 5%;
      line-height: 1.5;
      color: #ffffff;
    font-size: 20px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#temp4
{
       position: absolute;
    left: 1080px;
    height: 80px;
    width: 180px;
    background-color: rgb(0, 0, 0);
    
    border-radius:5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
#qs4
{
    display: block;
    padding-left: 10%;
    padding-top: 5%;
      line-height: 1.5;
      color: #ffffff;
    font-size: 20px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}



.part2
{
position: relative;
top:650px;
width: 100%;
height: 600px;
bottom: 30px;
  
}
#outerbox
{
    height: 500px;
    width: 1100px;
    background-color: rgb(67, 34, 255);
    border-radius: 10px;
    position: absolute;
    left: 200px;
}
#cover
{
    position: absolute;
    left: 90px;
    top: 90px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

#info1
{
   
    
    height: 70px;
    width:200px ;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
   

}
#book1
{
    
    height: 70px;
    width:200px ;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
#setting
{
    
    
    height: 70px;
    width:200px ;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
#qs5
{
    display: block;
    padding: 12%;
    padding-top: 8%;
  padding-bottom: 0%;
    
      line-height: 1.5;
      color: #ffffff;
    font-size: 30px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     border-radius: 5px;
}

#cover div {
    transition: all 0.3s ease-in-out; /* Smooth transition for all properties */
}
#info1:hover,#book1:hover,#setting:hover
{
    background-color: #BCE0F6;
    border: 2px solid #BCE0F6 ;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 1px 15px 5px rgb(3, 3, 3);;
}
#infobox
{
    position: absolute;
    height:400px ;
    width: 580px ;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
   bottom: -60px;
    left: 350px;
    line-height: 50px;
   
}
#info2
{
    position: absolute;
    left: 40px;
    top: 40px;
    display: block;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
#info3
{
    position: absolute;
    display: block;
    font-size: 20px; 
    left: 40px;
    top: 100px;
}





